.about {
  padding: 40px 20px;
  background-color: #24293b;
  border-radius: 50px;
}

.about h2 {
  margin-bottom: 20px;
}

/* ✅ Media Query لشاشات الموبايل */
@media (max-width: 480px) {
  .about {
    padding: 20px 10px;
    border-radius: 20px;
  }

  .about h2 {
    font-size: 20px;
    text-align: center;
  }
}
